.marqueetag {
  background-color: crimson;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 98px;
}

@media (max-width: 768px) {
  .marqueetag {
    margin-top: 86px;
  }
}
