.about {
  padding: 30px;
  width: 80vw;
}
.aboutclg {
  height: 35vh;
  width: 25vw;
}
.about_ {
  color: brown;
}
.para_about {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
  .about {
    width: 100vw;
  }
  .para_about {
    font-size: 15px;
  }
  .about_heading {
    font-size: 25px;
  }
  .aboutclg {
    height: 35vh;
    width: auto;
  }
}
