.marqueetag {
  background-color: crimson;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Carousel Images */
.carousel-item img {
  height: 450px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 300px;
  }
}
