.courses_offered {
  padding: 20px;
  background-color: #e9ecef;
  text-align: center;
  background-image: url('https://res.cloudinary.com/dsnjnciud/image/upload/v1738139609/aju9bqk7jrz7hlv0be1d.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}
.Courses {
  position: relative;
  display: inline-block;
  padding: 20px;
  color: white;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-image: url('https://res.cloudinary.com/dsnjnciud/image/upload/v1738305358/ai-generated-an-indian-male-teacher-smiling-in-the-classroom-photo_cptixs.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

.for_intermediate {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}

.InterMeduiate {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #5636a7;
  margin-bottom: 15px;
}

.card_ss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card_body {
  padding: 15px;
  background-color: white;
}

.card-text {
  font-size: 16px;
  color: #333;
  text-align: center;
}
