body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.whatspp {
  position: fixed; /* Fix the position */
  bottom: 30px; /* Distance from the bottom */
  left: 30px; /* Distance from the left */
  z-index: 1000; /* Ensure it's above other elements */
  width: 60px; /* Increase size */
  height: 60px; /* Increase size */
  background-color: #0cdf2f; /* Green background */
  border-radius: 50%; /* Make it circular */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.call{
   position: fixed; /* Fix the position */
  bottom: 100px; /* Distance from the bottom */
  left: 30px; /* Distance from the left */
  z-index: 1000; /* Ensure it's above other elements */
  width: 60px; /* Increase size */
  height: 60px; /* Increase size */
  background-color: #0cdf2f; /* Green background */
  border-radius: 50%; /* Make it circular */
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 769px) {
  .call {
    display: none;
  }
}